/* index.css */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ส่วนอื่น ๆ ของ Tailwind เช่น @tailwind base */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font-8bit {
  font-family: 'Press Start 2P', cursive;
}

body {
  background: radial-gradient(ellipse at center, #0d0d0d 0%, #000000 80%);
  background-attachment: fixed;
  color: #ffffff;
}

html {
    scroll-behavior: smooth;
    
  }


/* Neon Grid Overlay */
.tech-grid {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 50px
    );
  animation: gridMove 60s linear infinite;
}

@keyframes gridMove {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 100px 100px, 100px 100px;
  }
}

.card-glow:hover {
  box-shadow: 0 0 20px rgba(0,255,255,0.4), 0 0 40px rgba(0,255,255,0.2);
  border-color: rgba(0,255,255,0.4);
}
